<%= stylesheet_link_tag 'dataTables.bootstrap4.css' %>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Logs</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0"data-source="<%= user_whatspp_messages_path(user_id: @user.id, format: "json") %>">
        <thead>
          <tr>
            <th>Time</th>
            <th>User</th>
            <th>Phone Number</th>
            <th>Event Category</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <th>Time</th>
            <th>User</th>
            <th>Phone Number</th>
            <th>Event Category</th>
            <th>Message</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp" crossorigin="anonymous"></script>

<%= javascript_include_tag 'datatables-demo' %>